@import "@radix-ui/themes/styles.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --radius: 8px;
}

main {
  background-color: hsl(240 3.7% 15.9%);
  color: white;
}

textarea {
  color: black;
  resize: none;
}

.chat {
  height: calc(100vh - 56px);
}

/* @import "tailwindcss"; */
/* 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 24px;
  max-height: 48px;
}

.chat {
  background-color: hsl(240 3.7% 15.9%);
  height: calc(100vh - 56px);
}

form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.chat__input--container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
} */
